language: python
python:
  - "2.5"
  - "2.6"
  - "2.7"
  - "3.1"
  - "3.2"
script: "python setup.py test"
install: "if [[ $TRAVIS_PYTHON_VERSION = 2.6 -o $TRAVIS_PYTHON_VERSION = 2.5 ]]; then pip install unittest2 --use-mirrors; fi"
notifications:
  email: false
  irc: "irc.freenode.org#XelNext"

