include CREDITS ChangeLog LICENSE README.rst
include requirements*.txt

graft src/getconf

prune docs
prune tests

global-exclude *.py[cod] __pycache__ .*.sw[po] *~

# Be explicit to make check-manifest happy.
exclude Makefile tox.ini .flake8
